<?xml version="1.0" encoding="UTF-8"?>

<?import javafx.geometry.*?>
<?import javafx.scene.text.*?>
<?import javafx.scene.effect.*?>
<?import javafx.scene.control.*?>
<?import java.lang.*?>
<?import javafx.scene.layout.*?>


<fx:root type="javafx.scene.layout.BorderPane" xmlns:fx="http://javafx.com/fxml">
	<center>
	 <BorderPane BorderPane.alignment="CENTER" >
	  	<top>
            <VBox fx:id="vBoxMsg"  BorderPane.alignment="CENTER" />
        </top>
	 	<center>
			<GridPane>
				<padding><Insets top="25" right="25" bottom="10" left="25"/></padding>   
#foreach($attribute in $entity.attributes)
				<Label text="%pantalla.panel.field.${attribute.name}" GridPane.columnIndex="0" GridPane.rowIndex="$foreach.count"/>   
#if($attribute.isIntegerType())
				<TextField fx:id="txt${attribute.name}" maxWidth="100" GridPane.columnIndex="1" GridPane.rowIndex="$foreach.count"/>
#end
#if($attribute.isStringType())
 				<TextField fx:id="txt${attribute.name}"  maxWidth="200" GridPane.columnIndex="1" GridPane.rowIndex="$foreach.count"/>       
#end	
#if($attribute.isUtilDateType())
 				<DatePicker fx:id="dpr${attribute.name}" GridPane.columnIndex="1" GridPane.rowIndex="$foreach.count"/>       
#end	
#if($attribute.type == "byte[]")
				<ImageView fx:id="byt${attribute.name}" fitHeight="20.0" fitWidth="50.0" GridPane.columnIndex="1" GridPane.rowIndex="$foreach.count"/>
#end
#end   
			</GridPane>
       </center>
	 </BorderPane>	
	</center>
</fx:root> 