package ${target.javaPackageFromFolder($SRC)};

import java.io.Serializable;
import java.util.List;

public interface IServicioView<T, ID extends Serializable> {
		
	public T load(T entity) throws Exception;			
	public List<T> loadAll() throws Exception;
}